/* Media Queries */
html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif; }

.contenedor {
  margin: 0 auto;
  max-width: 1100px; }

.contenido-oculto {
  display: none; }

/* Site Header */
header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header .logo {
    padding: 1.6rem 0; }
  header .carrito-compras {
    position: relative; }
    header .carrito-compras:hover .contenido-oculto {
      background-color: #F1F1F1;
      display: block;
      max-width: 500px;
      padding: 1rem;
      position: absolute;
      right: 0; }
      header .carrito-compras:hover .contenido-oculto img {
        max-width: 150px; }
      header .carrito-compras:hover .contenido-oculto .boton {
        background-color: #33C3F0;
        color: white;
        display: block;
        margin-top: 1rem;
        padding: .5rem 1rem;
        text-align: center;
        text-decoration: none;
        /* Mixin */ }

/* Main Image Site */
.hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 24rem;
  background-image: url("../img/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat; }
  .hero .contenido-hero {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .hero .contenido-hero h2 {
      font-size: 2.4rem;
      font-weight: 400; }
    .hero .contenido-hero p {
      font-size: 1.2rem; }
    .hero .contenido-hero form {
      position: relative; }
      @media only screen and (min-width: 768px) {
        .hero .contenido-hero form {
          width: 40%; } }
      .hero .contenido-hero form input {
        margin: 0;
        padding: 0; }
      .hero .contenido-hero form input[type='text'] {
        height: 3rem;
        width: 100%; }
      .hero .contenido-hero form input[type='submit'] {
        border: none;
        cursor: pointer;
        height: 3rem;
        position: absolute;
        right: 0;
        text-indent: -99999px;
        top: 0;
        width: 3rem;
        background-image: url("../img/lupa.png");
        background-position: center center;
        background-repeat: no-repeat; }
