@mixin boton( $bgColor, $fontColor ) {
   background-color: $bgColor;
   color: $fontColor;
   display: block;
   margin-top: 1rem;
   padding: .5rem 1rem;
   text-align: center;
   text-decoration: none;
}

@mixin box-sizing( $box-model ) {
   box-sizing: $box-model;
}
