@import 'variables';
@import 'mixins';

body {
   font-family: $principal-font;
}

.contenedor {
   margin: 0 auto;
   max-width: $max-width-content;
}
.contenido-oculto {
   display: none;
}

header {
   align-items: center;
   display: flex;
   justify-content: space-between;

   .logo {
      padding: 1.6rem 0;
   }
   .carrito-compras {
      position: relative;

      &:hover .contenido-oculto {
         background-color: $bg-content-carrito-compras;
         display: block;
         max-width: $max-width-hide-content;
         padding: 1rem;
         position: absolute;
         right: 0;

         img {
            max-width: $max-width-img-carrito-compras;
         }
         .boton {
            @include boton( $principal, $color-btn-carrito-compras );    /* Mixin */
         }
      }
   }
}

input[type='submit'] {
   @include boton( $secundario, $color-btn-carrito-compras );    /* Mixin */
}
